*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height:150px;
    width: 100%;
  }
  /* HEADER  */
  .header {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(black, rgba(120, 0, 161, 1));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p {
    color: white;
    font-weight: bold !important;
    font-size: 18px;
    font-family: "Playwrite DE Grund", cursive;
  }
  
  /* NAVIGATION  */
  .nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav a > img {
    height: 65px;
    width: 170px;
    margin-left: 50px;
  }
  .links {
    width: 80%;
    display: flex;
    justify-content: end;
    margin-right: 50px;
  }
  .links a {
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 5.25px;
    color: white;
  }
  .part1,
  .part2 {
    padding: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #9747ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 20px;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #9747ff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn i:hover {
    transform: rotate(180deg);
  }
/* Franchise */
section{
    background-color: #272727;
    color: #FDC567;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section-content{
    /* position: relative; */
    z-index: 10;
    margin-top: 2px;
    height: 100%;
    width: 50%;
    padding: 52px;
    margin: 25px 0 0;
}
.max-w{
    max-width: 100%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content{
    width: 100%;
    height: auto;
    text-align: center;
    /* margin-bottom: 20px; */
    overflow-wrap: normal;
    
}
.content h2{
    line-height: 45px;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.content p{
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    width: 100%;
    padding-top: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}
.Enquiry{
    padding-top: 10px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}
input{
    width: 100%;
    border-radius: 20px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #272727;
    font-size: 20px;
    color: #fff;
    border: 1px #fff solid;
}
textarea{
    width: 100%;
    border-radius: 20px;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #272727;
    font-size: 20px;
    color: #fff;
    border: 1px #fff solid;
}
.firstR {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}
#nm input[type="text"] {
    width: 100%;
    border-radius: 20px;
    height: 50px;
}
#em input[type="email"]{
    width: 100%;
    border-radius: 20px;
    height: 50px;
}
.secondR{
    width: 100%;
}
.thirdR #lbl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.SC{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.SC #st input[type="text"]{
    width: 100%;
}
.SC #ct input[type="text"]{
    width: 100%;  
}
.send{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size:20px;
    text-transform: capitalize;
    background-color: #c300ff;
    border: none;
}
.send :hover{
    transform: translateY(5%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
/* FOOTER */
.footer{
    height: 550px;
    width: 100%;
    background-color: rgba(42, 42, 42, 0.999);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.por1{
    height: 550px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 150px;
}

.sub1{
    display: flex;
}
#text1{
    width: 35%;
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    font-family: "Neue Haas Unica",sans-serif;
    margin-top: 20px;
}
#text2 img{
    height: 121px;
    width: 150px;
    margin-right: 50px;
}
.sub2{
    display: flex;
}

#text3 input{
    height: 73px;
    width: 413px;
    border: none;
    background-color: #737373;
    color: white;
    font-size: 20px;
    border-radius: 35px;
    padding-left: 25px;
}
.sub2 img{
    margin-left: -67px;
}
.sub3{
    height: 200px;
    display: flex;
    justify-content:start;
    align-items: end;
   
}
.sub3 i{
    padding: 10px;
    font-size: 30px;
}

.por2{
    height: 350px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 150px;
    margin-right: 50px;
}
.text4{
    width: 50%;
    font-size: 23px;
    text-align: end;
    margin-top: 10px;
}
.text4:hover{
    color: orange;
}
.text5{
    width: 50%;
    font-size: 20px;
    text-align: end;
    margin-top: 10px;
}
.text6{
    width: 50%;
    font-size: 18px;
    text-align: end;
    margin-top: 10px;
}
.text7{
    width: 50%;
    text-align: end;
}
.text7 img{
    height: 75px;
    width: 150px;
    margin-top: 100px;
}
.sub4{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    color: white;
    background-color: rgba(42, 42, 42, 0.999);
    font-size: 18px;
}
.sub4 p{
    margin-left: 80px;
}