* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN-2 */

.main-2 {
  height: 115vh;
  width: 100%;
  background-color: rgb(38, 38, 38);
}
.portion1 {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subpor1 {
  height: 10px;
  width: 100%;
  background-color: white;
}
.subpor2 {
  height: 100px;
  width: 300px;
  background-color: rgb(250, 60, 207,1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
  border-radius: 50px;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 5px white;
}
.portion2 {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.portion2 img {
  height: 600px;
  width: 600px;
  padding: 20px;
}
.portion3 {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.subpor3 {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.subpor3 i {
  color: white;
  font-size: 40px;
}

/* MAIN-3 */

.main-3 {
  height: 50vh;
  width: 100%;
  background-color: rgb(38, 38, 38);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portion4 {
  width: 32%;
  height: 350px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-right: 50px;
}
.portion5 {
  width: 32%;
  height: 350px;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-left: 50px;
}

/* MAIN-4 */

.main-4 {
  height: 80vh;
  width: 100%;
  background-image: url("Image/main4.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
}
.main-4 img {
  height: 700px;
  width: 700px;
  margin-right: 260px;
  margin-top: 62px;
}

/* MAIN-5 */

.main-5 {
  height: 70vh;
  width: 100%;
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portion6 {
  height: 20%;
  width: 100%;
  font-size: 80px;
  font-family: "Neue Haas Unica", sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
}
.portion7 {
  height: 80%;
  width: 100%;
  display: flex;
}
.subpor4 {
  height: 100%;
  width: 25%;
  background-image: url("Image/main5img1.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.subpor5 {
  height: 100%;
  width: 25%;
  background-image: url("Image/main5img2.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.subpor6 {
  height: 100%;
  width: 25%;
  background-image: url("Image/main5img3.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.subpor7 {
  height: 100%;
  width: 25%;
  background-image: url("Image/main5img4.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.subpor4:hover {
  width: 80%;
  transition: 0.5s;
}

.subpor5:hover {
  width: 80%;
  transition: 0.5s;
}
.subpor6:hover {
  width: 80%;
  transition: 0.5s;
}
.subpor7:hover {
  width: 80%;
  transition: 0.5s;
}

#portxt1 {
  height: 100px;
  width: 300px;
  text-align: end;
  font-size: 30px;
  color: white;
  font-weight: 800;
  transform: rotate(270deg);
}

/* MAIN-6 */

.main-6 {
  width: 100%;
  height: 160vh;
  background-color: rgb(38, 38, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portion8 {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portion8 p {
  width: 50%;
  font-family: "Neue Haas Unica", sans-serif;
  font-weight: 800;
  font-size: 90px;
  text-align: center;
  color: white;
}
.portion8 p > span {
  height: 50px;
  background-color: #7d41f4;
}

.portion9 {
  height: 110vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
#subimg1 img {
  height: 500px;
}
#subimg2 {
  height: 530px;
  width: 75%;
  background-image: url("Image/main6img7.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: -40px;
  z-index: 1;
}
#subimg3 {
  height: 530px;
  width: 65%;
  background-image: url("Image/main6img6.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -50px;
}
#subimg4 img {
  height: 460px;
  width: 100%;
  margin-left: 26px;
  margin-top: -20px;
}
#subimg5 {
  position: relative;
}
#subimg5 img {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 970px;
  right: 970px;
}
#subimg2 img {
  height: 0px;
  width: 0%;
  transition: 1s;
}
#subimg3 img {
  height: 0px;
  width: 0%;
  transition: 1s;
}

#subimg2:hover img {
  height: 535px;
  width: 100%;
}
#subimg3:hover img {
  height: 535px;
  width: 100%;
}

/* MAIN-7 */

.main-7 {
  height: 110vh;
  width: 100%;
  background-color: rgb(38, 38, 38);
}
.portion10 {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-weight: 800;
  font-family: "Neue Haas Unica", sans-serif;
  color: white;
}
.portion11 {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  font-weight: 800;
  font-family: "Neue Haas Unica", sans-serif;
  color: white;
}
.portion11 span {
  height: 115px;
  width: 400px;
  text-align: center;
  background-color: rgb(250, 60, 207,1);
  margin: 0px 10px 15px 10px;
}
.preportion12 {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portion12 {
  height: 500px;
  width: 170%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subpor8 {
  height: 350px;
  width: 25%;
  background-image: linear-gradient(to right, #9747ff, #5100bb);
  border-radius: 59px;
  margin-left: 60px;
}
#por8txt1 {
  letter-spacing: 0.3em;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 20px;
}
#por8txt2 {
  font-family: futura-pt, sans-serif !important;
  font-weight: 300 !important;
  font-size: 21px;
  text-align: center;
  margin-top: 20px;
  color: white;
}
#por8txt3{
  display: flex;
}
#por8txt3 img{
  height: 80px;
  width: 80px;
  margin-left: -20px;
}
#por8txt3 p{
  font-size: 25px;
  font-weight: 800;
  color: white;
  height: 80px;
  width: 80px;
  margin-left: 20px;
  margin-top: 20px;
}
/* MAIN-8  */
.portion13 img{
  height: auto;
  width: 100%;
  background-size: contain;
}

/* MAIN-9 */
.main-9 {
  height: 500px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-9 .inner {
  height: 300px;
  width: 80%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.main-9 .data {
  height: 100px;
  width: 35%;
}
.main-9 .data .det {
  height: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-9 .data .sum {
  height: 20%;
  background-image: linear-gradient(to right, yellow, rgb(246, 12, 215));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid black;
}
.main-9 .data .det p{
  font-size: 25px;
  font-weight: 500;
  width: 80%;
}
.main-9 .data .det i{
  color: black;
}